{% extends 'nav_base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block title %}로그인{% endblock %}

{% block content %}

<div class="login-container">
  <h1 class="login-title">Log In</h1>

  <form method="POST" action="{% url 'accounts:login_view' %}" id="login-form">
    {% csrf_token %}

    <div class="input-wrapper">
      <input type="text" name="username" class="login-input" required placeholder="아이디" />
      <input type="password" name="password" class="login-input" required placeholder="비밀번호" />
    </div>

    <div class="login-buttons">
      <button type="submit" class="login-btn">로그인</button>
      <a href="{% url 'accounts:register' %}" class="signup-btn">회원가입</a>
    </div>
  </form>
</div>

{% if messages %}
  {% for message in messages %}
    {% if message %}
      <script>
        window.addEventListener('DOMContentLoaded', () => {
          showModal(`{{ message|escapejs }}`);
        });
      </script>
    {% endif %}
  {% endfor %}
{% endif %}



<script>
  document.getElementById('login-form').addEventListener('submit', function(event) {
    event.preventDefault();
    const formData = new FormData(event.target);

    fetch("{% url 'accounts:login_view' %}", {
      method: 'POST',
      body: formData
    })
    .then(response => response.json())
    .then(data => {
      if (data.access) {
        localStorage.setItem('access_token', data.access);
        localStorage.setItem('refresh_token', data.refresh);
        window.location.href = '/';  // 바로 홈 이동
      } else {
        showModal(data.message || '로그인 실패');
      }
    })
    .catch(error => {
      showModal('로그인 중 오류가 발생했습니다.');
    });
  });
</script>

{% endblock %}



