/* static/css/common.css */

html, body {
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  font-family: sans-serif;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
